:root{
    --fundo: #202239;
    --azul: blue;
    --laranja: orange;
    --branco: white;
    --verde: green;
}

*{
    margin: 0; padding: 0;
    background-color: var(--fundo);color: var(--branco);
}
header{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header img{
    height: 100%;
    width: 40%;
    border-radius: 15px;
}
header ul{
    background-color: #252844;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header ul li{
    display: flex;
    margin: 20px;
    width: 150px;
    height: 30px;
    background-image: linear-gradient(var(--fundo),var(--azul));
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

.baner{
    margin: 30px;
    height: 500px;
    animation: slide1 10s infinite;
    border-radius: 50px;
}

@keyframes slide1{
    0%,35%{
        background-image: url(OIP.jfif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
    }
    35%,65%{
        background-image: url(OIP\ \(1\).jfif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
    }
    70%,100%{
        background-image: url(OIP\ \(2\).jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
    }
    
}    
.local{
    margin: 30px;
    background-color: var(--fundo);
    text-align: center;
    border-radius: 50px;
}
iframe{
    margin:30px;
}

.local{
    color: aqua;
}
.textin{
    text-align: center;
}